body {
    background: #9fb5cb;
}

.row{
    display:flex;
    flex-direction: row;
}
.product-price{
    display: flex;
    align-items: center
}

.col {
  
  background: white;
  padding: 20px;
  margin: 40px;
  box-shadow: -25px 25px 10px rgba(0, 0, 0, 0.1);
}
.title{
    font-size: 100px;
  margin-bottom: 4px;
  color: #404040;
  padding-left:  50px;
}
.pic-product{
    display:flex;
    flex-direction: column;

}
.toolbar {
    background-color: #c5dddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.add {
    background-color: #c0ddc0;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 10px;
}
.delate {
    background-color: #e7dada;
    width: 30px;
    height: 30px;
    border-radius:30px;
    margin: 10px;
}